body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 2px solid #000;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* CONTENT */
.content {
    padding: 40px;
}
